django>=1.3
celery>=2.2.7
django-celery>=2.2.4
django-jenkins>=0.11.1
fabric>=1.2.0

# requirement from worker, find a way to remove it
requests>=0.5

#-e git+https://github.com/ask/celery.git#egg=celery # 2.3.0
#-e git+https://github.com/ask/django-celery.git#egg=django-celery # 2.3.0
-e git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie # 1.0.0beta
